@import "tailwindcss";

@theme {
    --color-dmg: #606C38;
    --color-pkg: #283618;
    --color-silk: #FEFAF0;
    --color-eyel: #DDA15E;
    --color-teye: #BC6C25;

    --color-db: #0D1F22;
    --color-g1: #264027;
    --color-g2: #3C5233;
    --color-g3: #6F732F;
    --color-beige: #B38A58;
}

@layer components {
    .nav-link {
        @apply text-blue-600 hover:text-indigo-900 transition-colors duration-200;
    }
}

/* forest harmony palette: https://coolors.co/palette/0d1f22-264027-3c5233-6f732f-b38a58 */