/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap'); */
/* https://www.figma.com/color-palette-generator/?colors=1F2A23-475F45-4F5669-7B1DB4-564820 */
/* https://www.figma.com/color-palette-generator/?colors=1F2A23-734921-EDE0BB-8A62D0-226766 */
/* https://www.figma.com/color-palette-generator/?colors=1F2A23-BEB264-DCE5DF-0F1511-25322A */
@import "tailwindcss";

@theme {
    --color-main:#FEFCF2;
    --color-text:#1a1a1a;
    --color-dg:#1f2a23;
    --color-crm:#FFFDE1;

    --color-dmg: #606C38;
    --color-pkg: #283618;
    --color-silk: #FEFAF0;
    --color-eyel: #DDA15E;
    --color-teye: #BC6C25;

    --color-db: #0D1F22;
    --color-g1: #264027;
    --color-g2: #3C5233;
    --color-g3: #6F732F;
    --color-beige: #B38A58;
}

@layer components {
    .nav-link {
        @apply text-blue-600 hover:text-indigo-900 transition-colors duration-200;
    }
}

/* forest harmony palette: https://coolors.co/palette/0d1f22-264027-3c5233-6f732f-b38a58 */